* {
    box-sizing: border-box;
}    

@font-face {
    font-family: digi;
    src: url(DS-DIGIB.TTF)
}

body {
    margin: 0;
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1em;
    text-shadow: 2px 2px 5px black;
}

main {
    padding: 15px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.top {
    display: flex;
    justify-content: space-between;
}

/* Clock */
h1.time, #time-format{
    padding: 0;
    margin: 0;
    
}

h1.time {
    text-align: center;
    font-size: 7rem;
    font-family: digi;
}

#clock{
    align-self: center;
    text-align: center;
}

#time-format,
#change-units{
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    background-color: rgb(190, 185, 185, 0.7);
}

#time-format:active,
#new-fact:active,
#change-units:active{
        box-shadow: 0 3px rgba(104, 101, 101, 0.6);
        transform: translateY(3px);
        cursor: pointer;
}

#time-format:hover,
#new-fact:hover,
#crypto-btn:hover,
#change-units:hover{
    cursor: pointer;
    background-color: rgb(212, 209, 209);
}

/* Random useless facts */
#facts{
    align-self: center;
    text-align: center;;
    font-family: Arial, Helvetica, sans-serif;
}

#random-fact{
    font-size: 1.2rem;
    font-weight: 550;
    padding: 2rem;
    background-color: rgba(104, 101, 101, 0.7);
    border-radius: 50px;
    max-width: 60rem;
    max-height: 15rem;

}

#new-fact{
    margin-bottom: 1rem;
    border-radius: 20px;
    border: none;
    padding: 0.6rem;
}

/* Crypto */
div#crypto > p,
p.weather-city,
p.weather-temp {
    margin: 0;
}

div#crypto {
    font-size: 1.3rem;
    margin-top: 1.8rem;
}

div#crypto-top {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

div#crypto-top > span {
    margin-left: 10px;
}

input {
    background: rgb(247, 247, 247, 0.6);
}

input,
::placeholder{
    width: 9rem;
    height: 1.7rem;
    color: rgb(37, 35, 35);
    border: none;
    font-size: 1rem;
    border-radius: 10px;
    padding-left: 3px;
}

input:focus{
    outline: none;
}

.crypto-data{
    position: absolute;
    top: 5px;
}

#crypto-btn{
    border-radius: 50px;
    transform: translateY(4px)
}

#crypto-btn:active {
    box-shadow: 0 3px #666;
    transform: translateY(8px);
}

.crypto-img {
    width: 3.5rem;
    height: 3.5rem;
}

.btn-img{
    width: 20px;
    object-fit: cover;
}

p.crypto{
    margin: 4px;
}

/* Weather */
div#weather {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-self: flex-start;
    margin-top: -20px;
}

div#weather > img {
    width: 70px;
}

p.weather-city {
    width: 100%;
    text-align: right;
    margin-top: -10px;
}

p.weather-temp {
    font-size: 1.7rem;
    margin-left: -15px;
    margin-top: -16px;
    font-size: 35px;
}

.weather-box {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.weather-description {
    width: 100%;
    text-align: right;
    margin: -20px 0 16px 0;
}

.weatherIcon {
    margin: 0.6em 2em 0 0;
}

#change-units {
    width: 3rem;
    margin: 0.6rem 0 0 auto;
}

/* Image Author */
a{
    text-decoration: none;
    color: whitesmoke;
    text-shadow: 2px 2px 5px black;
    font-size: 1.1rem;
}


@media only screen and (min-width: 768px) and (max-width: 991px){
    main {
        padding: 2rem;
    }
    
    /* Clock */
    h1.time, #time-format{
        padding: 4rem 0 0;
        margin: 0;
    }
    
    h1.time {
        text-align: center;
        font-size: 13.3rem;
        font-family: digi;
        margin: 0 0 .5rem;
        padding: 0;
    }
    
    #time-format,
    #change-units{
        padding: 3rem;
        border-radius: 20px;
        font-size: 3rem;
    }

    /* Random useless facts */
    #facts{
        display: inline-block;
        border-radius: 50px;
    }

    #random-fact{
        font-size: 2.6rem;
        font-weight: 550;
        padding: 1.5rem;
        border-radius: 50px;
        max-height: 30rem;
        max-width: 60rem;
    }

    #new-fact{
        margin-bottom: 1rem;
        border-radius: 20px;
        border: none;
        padding: 0.2rem;
        width: 20rem;
        height: 3em;
        font-size: 2.5rem;
        font-weight: bold;
    }


    /* Crypto */
    div#crypto > p,
    p.weather-city,
    p.weather-temp {
        margin: 0;
    }

    div#crypto {
        font-size: 3rem;
        margin-top: 4rem;
    }

    div#crypto-top {
        margin: 1.5rem 0 0 1rem;
        font-size: 4rem;
    }

    div#crypto-top > span {
        margin-left: 10px;
    }

    input {
        margin: 0 .8rem 0 -2rem;
    }

    input,
    ::placeholder{
        width: 20rem;
        height: 5rem;
        font-size: 2.7rem;
        border-radius: 50px;
        padding: 1rem;
    }
    .crypto-data{
        position: absolute;
        top: 5px;
        margin: 0;
    }

    #crypto-btn{
        border-radius: 50px;
        width: 6rem;
        height: 5.5rem;
        transform: translateY(1rem)
    }

    #crypto-btn:active {
        box-shadow: 0 3px #666;
        transform: translateY(25px);
    }

    .btn-img{
        width: 4rem;
        object-fit: cover;
        padding: 0;
        margin: 0;
    }

    p.crypto{
        margin: 1rem .5rem;
        font-size: 3.5rem;
    }

    .crypto-img {
        width: 8rem;
        height: 8rem;
        margin: 0 .2rem 0 -2rem;
    }

    /* Weather */
    div#weather {
        margin-top: -2rem;
    }

    div#weather > img {
        width: 12rem;
        margin: 0 1.5rem;
        padding: 0;
    }

    p.weather-city {
        width: 100%;
        margin-top: -1rem;
        font-size: 4rem;
    }

    p.weather-temp {
        font-size: 1.7rem;
        margin-left: -2rem;
        margin-top: .3rem;
        font-size: 6rem;
    }

    .weather-box {
        display: flex;
        flex-direction: column;
        font-size: 20px;
    }

    .weather-description {
        width: 100%;
        text-align: right;
        font-size: 3rem;
        margin: -20px 0 16px 0;
    }


    #change-units {
        width: 7rem;
        height: 7rem;
        font-size: 4rem;
        margin: 0.6rem 0 0 auto;
        padding: 1rem;
        border-radius: 20px;
    }

    /* author */
    a{
        text-shadow: 2px 2px 5px black;
        font-size: 2.4rem;
        margin: 3rem 0 0;
    }
}
